---
import GlobalStyles from '../components/GlobalStyles.astro';
import Carousel from '../components/carousel/Carousel';
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<!-- <Scene client:visible/> -->
	<Carousel client:load/>
	<GlobalStyles/>
	<div class="page">
		<h1 class="page-title">Drew's hideout</h1>
	</div>
	
</Layout>

<style>
	div.page {
		background-color: var(--very-dark);
	}

	h1.page-title {
		margin: 0;
		padding: .5em;
		text-shadow: 0rem 0rem .1em var(--accent);
		text-align: center;
		background-color: var(--dark);
		background: radial-gradient(circle, var(--medium) 0%, transparent 60%);
	}
</style>
