---
import GlobalStyles from '../components/GlobalStyles.astro';
import Carousel from '../components/carousel/Carousel';
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<!-- <Scene client:visible/> -->
	<Carousel client:load/>
	<GlobalStyles/>
	<div class="page">
		<h1 class="page-title">Drew's hideout</h1>
		<div class="page-content">
			<h2 id="links">Links</h2>
			<div style="min-height: 200px;"></div>
			<h2 id="projects">Projects</h2>
		</div>
	</div>
	
</Layout>

<style>
	div.page {
		background-color: var(--very-dark);

		h1.page-title,
		h2.page-title {
			margin: 0;
			padding: .5em;
			text-shadow: 0rem 0rem .1em var(--accent);
			text-align: center;
			background-color: var(--dark);
			background: radial-gradient(circle, var(--medium) 0%, transparent 60%);
			border: 1px solid #fff2;
			border-left: none;
			border-right: none;
		}

		div.page-content {
			padding: 1em;
		}
	}

	
</style>
